body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.navbar {
  z-index: 1030;
  height: auto;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: black;
}

.f-info {
  text-align: center;
  height: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
}

.f-info-links,
.f-info-socials,
.fa-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info-links a {
  text-decoration: none;
  color: #222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

/* card */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400 !important;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.listing-id {
  text-decoration: none;
}

/* new listing */

.add-btn {
  border: none;
  background-color: #fe424d !important;
}
/* show listing */
.update-btn {
  border: none;
  background-color: #fe424d !important;
}

.delete-btn,
.edit-btn {
  border: none;
  background-color: #fe424d !important;
}

.btns {
  display: flex;
}

.show-img {
  height: 45vh;
}

#map {
  height: 400px;
  width: 85vh;
}

.btn-search {
  display: flex;
  background-color: #fe424d;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1.5rem;
  margin-left: 1.5rem;
}
.btn-search:hover {
  display: flex;
  background-color: #fe424d;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  justify-content: center;
  border-radius: 1.5rem;
}
.btn-search i {
  padding: 0.25rem 1rem 0 0;
  justify-content: center;
}
.search-box {
  border-radius: 1.5rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  text-align: center;
}
