<% layout("/layouts/boilerplate") -%>
<body>
  <div class="row mt-3">
    <div class="col-6 offset-3">
      <h2>Login tab</h2>
      <form action="/login" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            class="form-control"
            name="username"
            type="username"
            id="username"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            required
            id="password"
            name="password"
          />
        </div>
        <div class="mb-3">
          <button class="btn btn-dark">Login</button>
        </div>
      </form>
    </div>
  </div>
</body>
